<<<<<<< HEAD
PROJECT=cpp-project

CMAKE_INSTALL_PREFIX=

CMAKE_C_COMPILER=
CMAKE_CXX_COMPILER=
CMAKE_MAKE_PROGRAM=

CMAKE_C_STANDARD=99
CMAKE_CXX_STANDARD=17

=======
INSTALL_PREFIX=

TARGET_NAME=cpp-project

C_COMPILER=
CXX_COMPILER=
BUILD_GENERATOR=
MAKE_PROGRAM=

>>>>>>> fa9d57213adedca5e91664e5daac80c822f24e36
CMAKE_BUILD_TYPE=Debug
CMAKE_CONFIGURATION_TYPES="Debug;Release;Asan"

FETCH_GTEST=OFF
<<<<<<< HEAD

# CTEST_MEMORYCHECK_COMMAND=valgrind
# CTEST_MEMORYCHECK_COMMAND_OPTIONS=--trace-children=yes --track-fds=yes --track-origins=yes \
#     --leak-check=full --show-leak-kinds=all -s
# CTEST_MEMORYCHECK_SUPPRESSIONS_FILE=

CTEST_MEMORYCHECK_COMMAND=
CTEST_MEMORYCHECK_COMMAND_OPTIONS=
CTEST_MEMORYCHECK_SUPPRESSIONS_FILE=
=======
>>>>>>> fa9d57213adedca5e91664e5daac80c822f24e36
